# Required: OpenAI model connection
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o-mini

# Optional: LangSmith tracing and debugging
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=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
LANGSMITH_PROJECT=typescript-langchain-ai-assistant
